
nav {
    padding: 1em 0 1em;
    display: flex;
    box-sizing: border-box;
}

.nav-item {
    width: 1000px;
    height: 20px ;
    padding: .5em;
    border: 2px solid rgb(38,104,166,0.38);;
    border-radius: 5px;
    color: rgb(38,104,166);
    margin-right: 1em;
    user-select: none;
    cursor: pointer;
}

#team > h1,
#merch > h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: left;
    width: 80vw;
}

.team-wrapper,
.about-wrapper,
.merch-wrapper {
    width: 80vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2em;
}

#about > h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: left;
    width: 80vw;
}

.about-wrapper {
    flex-direction: column;
}

.about-wrapper p{
    width: 100%;
}

.team-item,
.merch-item {
    width: 22vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.merch-item {
    width: 15vw;
}

.team-item-top,
.merch-item-top {
    width: 100%;
    aspect-ratio: 1/1;
    background-size: cover;
    border: 5px solid white;
    border-radius: 50%;
    box-sizing: border-box;
}

.team1 .team-item-top {
    background: url(/uploads/2022/11/astr1.png);
    background-size: cover;
}

.team2 .team-item-top {
    background: url(/uploads/2022/11/astr2.png);
    background-size: cover;
}

.team3 .team-item-top {
    background: url(/uploads/2022/11/astr3.png);
    background-size: cover;
}

.team-item-bottom h2,
.merch-item-bottom h2 {
    text-transform: uppercase;
}

.merch-item-bottom {
    width: 100%;
}

.merch-item-bottom h2 {
    font-size: 1em;
}

.merch-item-bottom p {
    font-size: .8em;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.merch1 .merch-item-top {
    background: url(/uploads/2022/11/plate.png);
    background-size: cover;

}

.merch2 .merch-item-top {
    background: url(/uploads/2022/11/mug.png);
    background-size: cover;
}

.merch3 .merch-item-top {
    background: url(/uploads/2022/11/rocket_model.png);
    background-size: cover;
}

.merch4 .merch-item-top {
    background: url(/uploads/2022/11/rover.png);
    background-size: cover;
}
.menu{
    Height: 150px;
    Top: -21px;
    Left: 0px;
    border-radius: 30px;
    background-color: rgb(38,104,166,0.38);
    width: 100%;
}
table{
    Font: Inter;
    Font-weight: 400 px;
    Font-size: 36px;
    height: 44px;
    text-align: center;  
    color:aliceblue;
    border-collapse: separate; /* Разделяем границы ячеек */
    border-spacing: 70px; /* Определяем отступы между ячейками */
    width: 100%;}
.menu table{
    text-bottom: 100px;
}
h{
    Font-weight: bold;
    font-size: 350%;
    color: rgb(31, 74, 113);
}
h1{
    font-weight: bold;
    font-size: 450%;
    color: rgb(31, 74, 113);
    text-align: center;
}
p{
    font-size: 150%;
    color: rgba(31, 73, 113, 0.658) ;
}
.var{
    Width: 500px;
    Height: 150px;
    Top: 448px;
    Left: 397px;
    border-radius: 30px;
    background-color: rgb(38, 104, 166);
}
.txt{
    Font: Inter;
    Font-weight: 200;
    Font-size: 64px;
    height: 77px;
    text-align: center;  
    color:aliceblue;
}